extends layout
block content
    .container
        .row.clearfix
            .col-md-12.column
                p
                .jumbotron
                    h1 BongTalk
                    p  You can sign in using your Google Account or Facebook Account.
                    p
                        a.btn.btn-primary.btn-large(href='/auth/google') Login with Google
